.chat-info-card {
  width: calc(100% - 10px);
  background-color: var(--card-hover);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}

.chat-info-card:hover {
  background-color: var(--accent-hover);
}

.chat-info-card .chat-icon {
  background-color: var(--accent);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 1rem;
}

.chat-info-card .chat-icon .icon {
  color: var(--bg-color);
  font-weight: bolder;
}

.chat-info-card .chat-title {
  font-size: calc(var(--body-font) - 3px) !important;
  font-weight: 500;
  text-transform: capitalize !important;
}
