/* .display-img {
  width: 100px;
  height: 100px;
}

.display-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.player-controls-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-controls-container .controls {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-controls-container .seeker {
  width: 100%;
  height: 2.5px;
  background-color: grey;
  margin-top: 1rem;
  border-radius: 6px;
}

.player-controls-container .seeker::after {
  content: "";
  display: flex;
  background-color: white;
  height: 3.5px;
  width: 50%;
  align-items: center;
  border-radius: 6px;
}

.control-icon {
  font-size: var(--body-font);
  cursor: pointer;
} */

.player {
  box-shadow: none !important;
}
