#spotify-home .container {
  width: 100%;
  padding: 0;
}
#spotify-home .container .greeting {
  font-size: var(--header-font);
  font-weight: 900;
  padding-left: 1rem;
}

#spotify-home .container .new .header {
  margin-top: 0.75rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#spotify-home .container .new .header > h1 {
  font-size: 2rem;
}

#spotify-home .container .new .header > p {
  cursor: pointer;
}

#spotify-home .container .new .card-list {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-top: 1rem;
  scroll-snap-align: start;
}

#spotify-home .container .new .card-list::-webkit-scrollbar {
  height: 8px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px 20px transparent;
  border: solid 10px transparent;
}

#spotify-home .container .new .card-list::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--accent);
  cursor: pointer;
  box-shadow: inset 0 0 20px 20px transparent;
  border: solid 10px transparent;
}

@media (max-width: 1024px) {
  #spotify-home .container .greeting {
    font-size: var(--body-font);
  }
}
