#forgot_password {
  width: 100vw;
  height: calc(100vh - 200px);
}

#forgot_password .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#forgot_password .container h1 {
  font-size: 3rem;
  font-family: "Prompt", sans-serif;
}

#forgot_password .container .form {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#forgot_password .container .form label {
  width: 100%;
  height: 35px;
}

#forgot_password .container .form label input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: var(--card-bg);
  padding: 0.25rem 0.5rem;
  color: white;
  font-size: 16px;
}

#forgot_password .container .form .submit {
  width: 35%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  border-radius: 6px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 100s ease-in;
}

#forgot_password .container .form .submit:hover {
  background-color: var(--accent-hover);
}
