#album {
  width: 100vw;
  max-height: calc(100vh - 175px);
  overflow-x: hidden;
}

#album::-webkit-scrollbar,
#album .container .tracks::-webkit-scrollbar {
  display: none;
}

#album .container {
  width: 100%;
  height: 100%;
  margin: 1rem;
}
#album .container .album-cover {
  display: flex;
  align-items: flex-end;
}

#album .container .album-cover .album-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#album .container .album-cover .album-info > h1 {
  font-size: 3rem;
}

#album .container .album-cover .album-info .type {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0;
  letter-spacing: 2px;
}

#album .container .album-cover .album-info .artist {
  color: grey;
}

#album .container .album-cover .album-info > * {
  margin-top: 1rem;
}

#album .container .album-cover .artists {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#album .container .tracks {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#album .container .tracks .track .left .row .artist {
  color: grey;
}

#album .container .tracks .track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 100ms ease-in;
  padding: 0.5rem;
}

#album .container .tracks .track .left {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* #album .container .tracks .track .right {
} */

#album .container .tracks .track:hover {
  background-color: var(--card-hover);
  border-radius: 6px;
}

@media (max-width: 768px) {
  #album {
    height: calc(100vh - 75px - 150px);
  }

  #album .container .album-cover {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #album .container .tracks {
    width: 90%;
  }

  #album .container .tracks .track .left .row h1 {
    font-size: 1rem;
  }
}
