.card {
  padding-left: 1rem;
  cursor: pointer;
}

.card .heading {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--link-font);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.img > img {
  width: 300px;
  height: 300px;
}
