#album-page {
  width: 100vw;
  height: calc(100vh - 175px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#album-page::-webkit-scrollbar {
  display: none;
}

#album-page .container {
  max-width: 100%;
  max-height: 100%;
}

#album-page .container .playlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#album-page .container .playlist .playlist-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

#album-page .container .playlist .playlist-info .playlist-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#album-page .container .playlist .playlist-info .playlist-container .type {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0;
  letter-spacing: 2px;
}

#album-page .container .playlist .playlist-info .playlist-container > h1 {
  font-size: 5rem;
}

#album-page
  .container
  .playlist
  .playlist-info
  .playlist-container
  .description {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

#album-page .container .playlist .playlist-info .playlist-container .followers {
  font-size: 16px;
  margin-left: 0.5rem;
}

#album-page .container .playlist .playlist-tracks {
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  #album-page .container .playlist .playlist-info {
    flex-direction: column;
    align-items: flex-start;
  }

  #album-page .container .playlist .playlist-info .playlist-container {
    margin-left: 0;
  }
  #album-page .container .playlist .playlist-info .playlist-container > h1 {
    font-size: 2rem;
  }
}
