#chatroom {
  width: 100vw;
  height: calc(100vh - 75px - 100px);
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chatroom .container {
  width: 90%;
  height: 100%;
}

#chatroom .container .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chatroom .container .header .title {
  text-transform: capitalize !important;
}

#chatroom .container .header .leave {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  background-color: #ee0000;
  color: white;
  cursor: pointer;
}

#chatroom .container .cardChat {
  margin-top: 1rem;
  height: 90%;
}

#chatroom .container .cardChat .top {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#chatroom .container .cardChat .top::-webkit-scrollbar {
  display: none;
}

#chatroom .container .cardChat .bottom {
  height: 10%;
  margin-top: 1rem;
}
#chatroom .container .cardChat .bottom form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chatroom .container .cardChat .bottom form label,
#chatroom .container .cardChat .bottom form label input {
  width: 95%;
  height: 100%;
}

#chatroom .container .cardChat .bottom form label input {
  background-color: var(--card-bg);
  color: white;
  border-radius: 6px;
  border: none;
  padding: 0 0.5rem;
  font-size: 18px;
}

#chatroom .container .cardChat .bottom form button {
  cursor: pointer;
  width: 15%;
  background-color: #008a00;
  color: white;
  font-weight: bolder;
  border-radius: 6px;
  border: none;
  padding: 0 0.5rem;
  font-size: 18px;
}

span {
  color: var(--accent);
}

@media (max-width: 1000px) {
  #chatroom {
    height: calc(100vh - 75px - 150px);
  }
  #chatroom .container .cardChat .bottom {
    margin-top: 0.5rem;
  }
}
