#auth {
  width: 100vw;
  height: calc(100vh - 75px);
  background-image: url("https://content-tooling.spotifycdn.com/images/1d2242b4-f071-4244-a276-3bcdc58e77cf_lie_circles-tablet.svg");
  background-position: center center;
  background-size: auto 181%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#auth .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth .container .dividers {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

#auth .container .dividers .text {
  font-family: "Prompt", sans-serif;
  color: rgba(211, 211, 211, 0.5);
  letter-spacing: 1px;
  text-align: center;
}

#auth .container .dividers .divider {
  width: 45%;
  height: 3px;
  background-color: rgba(211, 211, 211, 0.13);
  border-radius: 500px;
}

#auth .container .auth-form-title {
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
}
#auth .container .auth-form-title h1 {
  font-family: "Prompt", sans-serif !important;
}

#auth .container .socials {
  cursor: pointer;
  width: 25%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid white;
  border-radius: 500px;
  padding: 0.5rem;
  transition: transform 100ms ease-in;
}
#auth .container .socials:hover {
  transform: scale(1.05);
  background-color: rgba(211, 211, 211, 0.13);
}

#auth .container .socials .google {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#auth .container .socials .google .text {
  font-size: 16px;
  font-family: "Prompt", sans-serif !important;
}

#auth .container form {
  display: flex;
  width: 50%;
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

#auth .container form label {
  width: 50%;
  height: 35px;
  margin: 0.5rem 0;
}

#auth .container form label input {
  width: 100%;
  height: 100%;
  background-color: var(--card-bg);
  border: none;
  border-radius: 6px;
  padding: 0 0.5rem;
  color: white;
  font-size: 18px;
}

#auth .container form .btn {
  width: 25%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bolder;
  background-color: var(--accent);
  border-radius: 6px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.google-btn {
  width: 25%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  margin-top: 2vh;
  text-align: center;
  font-weight: bolder;
  background-color: white;
  color: gray;
  border-radius: 6px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  margin-bottom: 2vh;
}
.google-btn:hover {
  transform: scale(1.05);
  background-color: white;
}

#auth .container form .btn:hover {
  transform: scale(1.05);
  background-color: var(--accent-hover);
}

.link {
  text-decoration: underline;
}

.center {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  #auth .container form .btn,
  .google-btn {
    width: 35%;
  }
  #auth .container .socials {
    width: 50%;
  }
  #auth .container form {
    width: 50%;
  }
  #auth .container form label {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #auth .container .socials {
    width: 75%;
  }
  #auth .container form {
    width: 75%;
  }
  #auth .container form label {
    width: 100%;
  }

  #auth .container form label input {
    width: 100%;
  }
  #auth .container form .btn,
  .google-btn {
    width: 75%;
  }
}
